@{
    ViewData["Title"] = "Members List";
}
<h1>@ViewData["Title"]</h1>

@model List<appdev_final_req.Models.Entitiess.Member>

<p>Members List.</p>
<div class="">
    <div class="d-flex justify-content-end">
        <a class="btn btn-success me-3" asp-controller="Members" asp-action="BatchUpload">Batch Upload</a>
        <a class="btn btn-primary" asp-controller="Members" asp-action="Add">Add Member</a>
        
    </div>
    <form class="d-flex mt-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Birthdate</th>
                <th scope="col">isActive</th>
                <th scope="col">DateJoined</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <th scope="row">@member.Id</th>
                    <td>@member.FullName</td>
                    <td>@member.Email</td>
                    <td>@member.Phone</td>
                    <td>@member.Birthdate</td>
                    <td>@member.IsActive</td>
                    <td>@member.DateJoined</td>
                    <td class="d-flex justify-content-center gap-3">
                        <a class="btn btn-primary" asp-controller="Members" asp-action="Edit" asp-route-id="@member.Id"><i class="bi bi-pencil-square"></i></a>
                        <!-- In your view (List.cshtml or wherever) -->
                        <form asp-action="Delete" asp-route-id="@member.Id" method="post" onsubmit="return confirm('Are you sure you want to delete @member.FullName?');">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </form>
                        
                    </td>

                </tr>
            }
           

        </tbody>
    </table>
</div>
